[submodule "dotfiles/shell.d/plugins/zsh-syntax-highlighting"]
	path = dotfiles/shell.d/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "dotfiles/shell.d/plugins/zsh-history-substring-search"]
	path = dotfiles/shell.d/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "dotfiles/shell.d/plugins/zsh-autosuggestions"]
	path = dotfiles/shell.d/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "dotfiles/vim/pack/vendor/start/auto-pairs"]
	path = dotfiles/vim/pack/vendor/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "dotfiles/vim/pack/vendor/start/rust"]
	path = dotfiles/vim/pack/vendor/start/rust
	url = https://github.com/rust-lang/rust.vim
[submodule "dotfiles/vim/pack/vendor/start/editorconfig"]
	path = dotfiles/vim/pack/vendor/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "dotfiles/vim/pack/vendor/start/nerdtree"]
	path = dotfiles/vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "dotfiles/vim/pack/vendor/start/rainbow"]
	path = dotfiles/vim/pack/vendor/start/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "dotfiles/vim/pack/vendor/start/sandwich"]
	path = dotfiles/vim/pack/vendor/start/sandwich
	url = https://github.com/machakann/vim-sandwich.git
