# Normalize line endings
* text=auto

# Github Linguist overrides
**/Code/User/*.json linguist-language=jsonc
*.conf linguist-language=ini
gitconfig linguist-language=gitconfig
gitignore linguist-language=gitignore
