# Normalize line endings
* text=auto

# Language overrides
**/Code/User/*.json linguist-language=jsonc
*.conf linguist-language=ini

# Identify external plugins as vendored code
dotfiles/shell.d/plugins/* linguist-vendored
dotfiles/vim/pack/vendor/* linguist-vendored
